:root {
  /* colors */
  --color-iris: #4d5ae5;
  --color-navy-blue: #2e2f42;
  --color-slate: #434455;
  --color-white: #ffffff;
  --color-cloud: #f4f4fd;
  --color-ocean: #404bbf;
  --LIGHT-SLATE: #8e8f99;
  --color-green: #31d0aa;
  --CORNFLOWER: #e7e9fc;
  --Dairy: #fcfcfc;
  --common-black: #2f2f37;
}

body {
  color: var(--color-slate);
  background-color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.32px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
/* Phone screen */
.container {
  max-width: 320px;

  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 768px;
    outline: 2px solid blue;
    outline-offset: -2px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    width: 1158px;
    padding: 0 16px;
  }
}

.section {
  padding: 96px 0;
  margin: 0 auto;
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
/*header*/
.header-main {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  min-width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header-main {
    max-width: 1158px;
  }
}
@media screen and (min-width: 1158px) {
  .header-main {
    max-width: 1440px;
  }
}
.header-inern.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header-inern.container {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header-nav {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1158px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}

.header-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    gap: 40px;
  }
}
@media screen and (min-width: 1158px) {
  .header-menu {
    display: flex;
    gap: 40px;
    flex-grow: 1;
    justify-self: center;
  }
}
.header-logo {
  align-items: center;
  color: var(--color-iris);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.header-logo .accent {
  color: var(--color-navy-blue);
  text-transform: uppercase;
}
.header-link {
  display: flex;
  display: inline-block;
  padding: 24px 0;
  color: var(--color-navy-blue);
  font-weight: 500;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--color-ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-ocean);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-ocean);
}
.header-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.address {
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--color-ocean);
}
.address-link {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.48px;
  }
}
@media screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
    line-height: 1.5; /* 116.667% */
    letter-spacing: 0.48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.mobil-button-menu {
  background-color: transparent;
  border: none;
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobil-button-menu {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .mobil-button-menu {
    display: none;
  }
}
/* hero */
.hero-section {
  background-color: var(--color-navy-blue);
  padding: 72px 0;
  background-repeat: no-repeat;
  max-width: 768px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office_bg.jpg');
}
@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 1158px;
    background-position: center center;
    padding: 112px 0;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-position: center center;
    margin: 0 auto;
  }
}
.hero-text {
  max-width: 288px;
  color: var(--color-white);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero-text {
    max-width: 496px;
    margin: 0 auto;
    color: var(--color-white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 1.12px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-text {
    max-width: 496px;
    margin: 0 auto;
    color: var(--color-white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
  }
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}

.hero-button {
  background-color: var(--color-iris);
  cursor: pointer;
  color: var(--color-white);
  font-weight: 500;
  border: none;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .hero-button {
    margin: 0 auto;
  }
}
/* section-benefits */

.benefits-section {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .container-icon {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    background: var(--color-cloud);
  }
}
.benefits-icon {
  background: var(--color-cloud);
}
.benefits-list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
.benefits-title {
  width: 100%;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .benefits-title {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }
}
@media screen and (min-width: 1158px) {
  .benefits-title {
    width: calc((100% - 72px) / 4);
  }
}
.benefits-h {
  color: var(--color-navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .benefits-h {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .benefits-h {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}
.benefits-text {
  color: var(--color-slate);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-align: left;
}

@media screen and (min-width: 1158px) {
  .benefits-text {
    color: var(--color-slate);
    font-weight: 400;
    line-height: 1.5;
  }
}
/* section-our team */

.our-team-color {
  background-color: var(--color-cloud);
}
.our-team {
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .our-team-list {
    display: flex;
    flex-wrap: nowrap;

    justify-content: center;
    gap: 24px;
  }
}
.our-team-photo {
  background-color: var(--color-white);

  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  background: var(--color-white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .our-team-photo {
    flex-basis: calc((100%-24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .our-team-photo {
    flex-basis: calc((100%-72px) / 4);
  }
}

.our-team-man {
  padding: 32px 0;
}
.our-team-h {
  color: var(--color-navy-blue);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-text {
  color: var(--color-slate);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  fill: var(--color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icons-list {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-link:hover,
.our-team-link:focus {
  background-color: var(--color-ocean);
}
.our-team-fill {
  fill: var(--color-cloud);
}
/* section-portfolio*/

.our-portfolio {
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-portfolio-color {
  background-color: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
@media screen and (min-width: 768px) {
  .our-portfolio-color {
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 72px;
    margin: 0 auto;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .our-portfolio-color {
    background-color: inherit;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
  }
}

.our-portfolio-color img {
  width: 100%;
}
.our-portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .our-portfolio-card {
    flex-basis: calc((100%-24px) / 2);
    width: 356px;
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .our-portfolio-card {
    width: calc((100% - 48px) / 3);
  }
}
.our-portfolio-card:hover,
.our-portfolio-card:focus {
  transform: translateY(0%);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-portfolio-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-img {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.our-portfolio-overlay {
  background-color: var(--color-iris);
  color: var(--color-cloud);
  position: absolute;
  inset: 0;
  transform: translate(0, 100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-card:hover .our-portfolio-overlay {
  transform: translateY(0%);
}
.our-text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-h {
  color: var(--color-navy-blue);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--color-slate);
  font-weight: 400;
  font-size: inherit;
  line-height: 1.5;
}

/* footer */

.footer-logo {
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17.5px;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }
}

.footer-logo .accent {
  color: var(--color-cloud);
  text-decoration: none;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-logo .accent {
    color: var(--color-cloud);
    text-decoration: none;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
  }
}
@media screen and (min-width: 1158px) {
  .footer-logo .accent {
    color: var(--color-cloud);
    text-decoration: none;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
}
.footer-section {
  align-items: baseline;
  background-color: var(--color-navy-blue);
  padding: 100px 0;
}
@media screen and (min-width: 768px) {
  .footer-section {
    padding: 96px 0;
  }
}
@media screen and (min-width: 1158px) {
  .footer-section {
    padding: 100px 0;
  }
}
.footer-text {
  color: var(--color-cloud);
  font-size: 16px;
  line-height: 1.5;
  max-width: 288px;
  padding-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-text {
    color: var(--color-cloud);
    font-size: 16px;
    line-height: 1.5;
    width: 264px;
    padding-bottom: 0;
  }
}
.footer-link {
  line-height: 1.5; /* 150% */
  color: var(--color-white);
  margin-bottom: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-link {
    display: inline-block;
    align-items: left;
    line-height: 1.5; /* 150% */
    color: var(--color-white);
    margin-bottom: 16px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1158px) {
  .footer-link {
    line-height: 1.5; /* 150% */
    color: var(--color-white);
    margin-bottom: 16px;
    font-weight: 500;
  }
}
.container-footer {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    width: 768px;
    padding-left: 108px;
  }
}
@media screen and (min-width: 1158px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 1158px;
    padding-left: 0;
  }
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition-duration: 250ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .footer-icons {
    display: flex;
    gap: 16px;
    transition-duration: 250ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .footer-icons {
    display: flex;
    gap: 16px;
    transition-duration: 250ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 0;
  }
}
.footer-icons-list {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;
}
.footer-fill {
  fill: var(--color-cloud);
}
.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: var(--color-green);
}

@media screen and (min-width: 768px) {
  .footer-margin {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-margin {
    margin-right: 120px;
  }
}
.subscribe-text {
  color: var(--color-white);
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .subscribe-text {
    color: var(--color-white);
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 16px;
    letter-spacing: 0.32px;
    display: inline-block;
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .subscribe-text {
    color: var(--color-white);
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 16px;
    letter-spacing: 0.32px;
    display: inline-block;
    align-items: left;
  }
}
.footer-margin-icons {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer-margin-icons {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .footer-margin-icons {
    margin-right: 80px;
  }
}
.footer-email {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-email {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: end;
  }
}

@media screen and (min-width: 1158px) {
  .footer-email {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: left;
  }
}

.footer-label {
  border-radius: 4px;
  border: 1px solid var(--color-white);
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .footer-label {
    color: var(--color-white);
    font-size: 24px;
    opacity: 0.3;
  }
}
@media screen and (min-width: 1158px) {
  .footer-label {
    opacity: 1;
  }
}

.footer-color::placeholder {
  color: var(--color-white);
}
.footer-color {
  background: var(--color-navy-blue);
  border: 1px solid var(--color-white);
  background-color: transparent;
  color: var(--color-white);
  width: 288px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.48px;
  font-size: 12px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .footer-color {
    background: var(--color-navy-blue);
    border: 1px solid var(--color-white);
    background-color: transparent;
    color: var(--color-white);
    width: 264px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 200% */
    letter-spacing: 0.48px;
    font-size: 12px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-color {
    padding-bottom: 8px;
  }
}
.footer-fill-svg {
  margin-left: 16px;
  fill: var(--color-cloud);
}

.footer-button {
  border-radius: 4px;
  background: var(--color-iris);
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  text-align: center;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--color-ocean);
}
/*modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.is-closed {
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
}
.modal {
  position: absolute;
  max-width: 408px;
  max-height: 584px;
  border-radius: 4px;
  background: var(--Dairy);
  flex-shrink: 0;
  top: 50%;
  left: 50%;
  width: 408px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
}
.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  border: none;
  background-color: var(--color-ocean);
}

.button-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--color-white);
}

.modal-text {
  color: var(--color-navy-blue);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.modal-window {
  margin-bottom: 8px;
}
.text-area {
  margin-bottom: 16px;
}
.modal-label {
  color: var(--LIGHT-SLATE);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
  display: block;
}
.modal-input {
  border-radius: 4px;
  border: 1px solid var(--color-iris);
  height: 40px;
  padding-left: 38px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--color-iris);
}

.modal-input-wrap {
  position: relative;
}

.modal-fill {
  fill: var(--color-iris);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fill-black {
  fill: var(--color-navy-blue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-fill-black {
  outline: none;
  fill: var(--color-iris);
  margin-bottom: 8px;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.modal-comment:focus {
  outline: none;
  border-color: var(--color-iris);
}

/* checkbox area */
.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-label {
  color: var(--LIGHT-SLATE);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.checkbox-input:checked + .checkbox-label .checkbox-span {
  opacity: 1;
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-cloud);
}

.modal-privacy-text {
  text-decoration: underline;
  color: var(--color-iris);
}

.modal-button {
  display: block;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--color-iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  color: var(--color-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-ocean);
}
.span-privacy {
  color: var(--color-iris);
  font-size: 12px;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
/*mobile*/
.container-menu {
  position: fixed;
  opacity: 0;
  width: 320px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 0;
  left: 0;
  padding: 72px 24px 40px 16px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-menu.is-open {
  transform: translateX(0);
}
.mobile-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--CORNFLOWER);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-button-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-list {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: var(--color-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
}
.mobile-menu-link.mobile-blue {
  color: var(--color-ocean);
}
.mobile-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-contacts-link {
  color: var(--color-slate);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.mobile-contacts-link.mobile-tel {
  color: var(--color-iris);
}
.mobile-icons {
  display: flex;
  gap: 40px;
  transition-duration: 250ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 48px;
}
.mobile-icons-list {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;
}
.mobile-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-fill {
  fill: var(--color-cloud);
}
